.add-note {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    padding: 0;
}

.add-note input {
    width: 60%;
    font-size: 1.5rem;
    color: #333;
    height: 3rem;
    outline: none;
    border: 0;
    padding: 0;
}

.add-note button {
    width: 10%;
    height: 3rem;
    font-size: 1.5rem;
    border: 0;
    padding: 0;
    background-color: #18c518;
    color: #f1f1f1;
}

.add-note Select {
    width: 10%;
    height: 3rem;
    font-size: 1.5rem;
    background-color: #ffffff;
    padding: 0;
    border: 0;
}