.card {
    border: 1px solid gray;
    padding: 2rem;
    font-size: 1.5rem;
    
    height: 5rem;
    border-radius: 0.5rem;
    background-color: #a4dfe7;
    margin: 1rem 0;
    position: relative;
}

.card.dark {
    color: #fff;
}

.card.light {
    color: #333;
}
